@model WishList

<p class="text-black text-center mt-2 mb-4" style="font-size:20px;">
    <b>Wishlist</b>
</p>
<section class="wishList-products row">
    @if (!(Model.Products.Any()))
    {
        <p class="text-center">
            <b>There is no products</b>
        </p>
    }
    @foreach (var product in Model.Products!)
    {
        <div class="card">
            <div class="w-100">
                <img src="@product.ImageUrl" />
            </div>
            <div style="min-height:90px;">
                <div style="height:80px;">
                    <p class="product-name"><b>@product.Name</b></p>
                </div>
                <p class="product-category">@product.Category.CategoryName</p>
                <p class="price-info">
                    <span class="price"><b>@((@product.Price - (@product.Price * 0.06m)).ToString("C2"))</b></span>
                    <span style="color:red;"><del>@((@product.Price).ToString("C2"))</del></span>
                    <span style="color:brown;margin-left:5px;"><b>(60% OFF)</b></span>
                </p>
            </div>
            <a class="view-button btn mt-2" asp-controller="Product" asp-action="Index" asp-route-ProductID="@product.ProductID">
                View Product
            </a>

            <a class="btn mt-3" style="color:white; background-color:red;align-content:center;width:230px; " asp-controller="WishList" asp-action="RemoveProductFromWishlist" asp-route-ProductID="@product.ProductID">
                Remove
            </a>
       </div> 
    }
</section>


<style>

    .wishList-products {
        text-align: center;
        margin-bottom: 100px;
    }

    .wishList-products .card div img {
        padding-top: 5px;
        width: 190px;
        height: 100px;
        margin-bottom: 10px;
    }

    .wishList-products .card {
        height: 355px;
        width: 250px;
        margin-bottom: 20px;
        border: 1px solid #E0E0E0;
        margin-right: 15px;
        padding: 5px;
    }

    .wishList-products div {
        display: inline-block;
    }

     .wishList-products div .product-info {
        width: 200px;
        height: 300px;
        margin: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        display: inline-block;
    }

    .wishList-products div .product-name {
        font-size: 13px;
        font-family: Noto Sans,sans-serif;
        padding-top: 3px;
        padding-right: 3px;
        padding-left: 3px;
        display: inline-block;
    }

    .product-category {
        font-size: 12px;
        font-family: Noto Sans,sans-serif;
        color: dimgrey;
        padding: 4px;
        height: 10px;
    }

    .price-info {
        font-size: 13px;
        font-family: Noto Sans,sans-serif;
        padding: 4px;
    }

    .wishList-products div .view-button {
        color: white;
        background-color: darkorange;
        align-content: center;
        width: 230px;
    }

    .wishList-products div div p {
        max-height: 30px;
        max-width: 190px;
        margin-bottom:5px;
    }
</style>
