@model WishList

<div class="row">
    @foreach (var product in Model.Products!)
    {
        <div class="card">
            <div class="w-100">
                <img src="@product.ImageUrl" />
            </div>

            @*        <div class="product-info"style="width:190px;"> *@
            <p class="product-name"><b>@product.Name</b></p>
            <p class="product-category">@product.Category.CategoryName</p>
            <p class="price-info">
                <span class="price"><b>@((@product.Price - (@product.Price * 0.06m)).ToString("C2"))</b></span>
                <span style="color:red;"><del>@((@product.Price).ToString("C2"))</del></span>
                <span style="color:brown;margin-left:5px;"><b>(60% OFF)</b></span>
            </p>
            <a class="btn" asp-controller="Product" asp-action="Index" asp-route-ProductID="@product.ProductID">
                View Product
            </a>
        </div>
        @*        </div> *@
    }


</div>

<style>
    img {
        padding-top: 5px;
        width: 190px;
        height: 100px;
        margin-bottom: 10px;
    }

    .card {
        height: 275px;
        width: 250px;
        margin-bottom: 20px;
        border: 1px solid #E0E0E0;
        margin-right: 15px;
        padding: 5px;
    }

    .row .card {
        display: inline-block;
    }

    .hot-deal-products div .product-info {
        width: 200px;
        height: 300px;
        margin: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        display: inline-block;
    }

    .product-name {
        font-size: 13px;
        font-family: Noto Sans,sans-serif;
        padding-top: 3px;
        padding-right: 3px;
        padding-left: 3px;
        display: inline-block;
    }

    .product-category {
        font-size: 12px;
        font-family: Noto Sans,sans-serif;
        color: dimgrey;
        padding: 4px;
        height: 10px;
    }

    .price-info {
        font-size: 13px;
        font-family: Noto Sans,sans-serif;
        padding: 4px;
    }

    a {
        color: white;
        background-color: darkorange;
        align-content: center;
        width: 230px;
    }

    div div p {
        max-height: 30px;
        max-width: 190px;
    }
</style>