@using amazon_clone.Domain.Models
@model List<ProductCategory>



<div class="card">
    <div class="card-header">
        <h3 class="card-title">Product Categories List</h3>
    </div>

   @*  @if (TempData["RemoveResult"] is not null)
    {
        <div class="text-danger">@TempData["RemoveResult"]</div>
    }

    @if (TempData["InsertNewProduct"] is not null)
    {
        <div class="text-danger">@TempData["InsertNewProduct"]</div>
    }

    @if (TempData["UpdateCustomerProduct"] is not null)
    {
        <div class="text-danger">@TempData["InsertNewProduct"]</div>
    } *@
    <a asp-controller="ProductCategory" asp-action="UpsertProductCategory" class="btn btn-primary">New Category</a>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>Created At</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductCategory productCategory in Model)
                {
                    <tr>
                        <td>@productCategory.CategoryID</td>
                        <td>@productCategory.CategoryName</td>
                        <td>@productCategory.CategoryCreationDetails.CreatedAt.ToString()</td>
                        <td>@productCategory.CategoryCreationDetails.UpdatedAt.ToString()</td>
                        <td>
                            <a asp-controller="ProductCategory" asp-action="UpsertProductCategory" asp-route-CategoryID="@productCategory.CategoryID" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Update</a>
                            <a asp-controller="ProductCategory" asp-action="RemoveProductCategory" asp-route-CategoryID="@productCategory.CategoryID" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>